html, body {
  height: 100%;
  min-height: 100%;
}

.root {
  flex-grow: 1;
  position: relative;
  min-height: 100%;
}

.grid {
  text-align: center;
}

.card {
  padding: 30px;
}

.logo {
  height: 150px;
  width: 150px;
}

.painting {
  max-height: 400px;
  max-width: 100%;

  align-self: center;
}

.social {
  width: 100%;
  bottom: 0;
}
